.faq {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq .text-faq {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
}

.faq p{
    color: #7b7777;
    font-size: 18px;
    font-family: var(--font-family-Jakarta);
    text-align: center;
}

.categories-list {
    list-style: none;
    padding: 10px;
    font-family: var(--font-family-Jakarta);
    inline-size: 300px;
}

.categories-list li {
    padding: 10px;
    margin-inline-start: -1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    inline-size: 100%;
}

.categories-list li:hover {
    background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

.accordion-faq {
    flex-grow: 1;
    inline-size: 90%;
    background: var(--color-bg-1);
}

.categories-list li:hover {
    background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

.accordion-faq {
    flex-grow: 1;
    min-block-size: 300px; /* Ajuste o valor conforme necessário */
    display: flex;
    flex-direction: column;
}

.accordion .accordion-item {
    border: none;
    background: none;
}

.accordion .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2px 0;
    font-size: 1.2em;
    border-radius: none;
    font-family: var(--font-family-Jakarta);
}


.accordion .accordion-body {
    flex-grow: 1;
    padding: 10px 0;
    font-family: var(--font-family-Jakarta);
}
